//TITLES
@mixin titles{
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1%;
  color: white;
}

//MIXINS
@mixin turn($end){
  @for $i from 1 through $end{
    :nth-child(#{$i}) {
      animation-delay: $i * 0.2s;
    }
  }
}
@mixin fade($fade, $delay){
  opacity: 0;
  animation: fade-#{$fade} 0.6s forwards;
  animation-delay: $delay;
}

//KEYFRAMES
@keyframes scroll-infinite-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-infinite-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-left{
  0%{
    opacity: 0;
    transform: translateX(-10%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-right{
  0%{
    opacity: 0;
    transform: translateX(10%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-up{
  0%{
    opacity: 0;
    transform: translateY(40%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-down{
  0%{
    opacity: 0;
    transform: translateY(-40%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  a, button{
    text-decoration: none;
    color: inherit;
    user-select: none;
  }
  h1{
    @include titles();
  }
}


body{
  height: 100%;
  //Components
  .header{
    background-color: rgba(0, 0, 0, 0.374);
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    max-width: 95%;
    margin: 0.5% auto;
    padding: 0 2%;
    box-sizing: border-box;
    border-radius: 15px;
    nav{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      height: 7.5vh;
      a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        letter-spacing: 0.5px;
      }
      a:hover{
        transform: translateY(-1px);
      }
      a:focus-visible{
        outline: 3px solid rgba(96, 214, 105, 0.85);
        outline-offset: 3px;
      }
    }
  }
  .emergency {
    display: flex;
    position: fixed;
    right: 3vw;
    bottom: 7vh;
    a{ padding: 1rem }
  }
  //Páge
  .nosotros{
    display: flex;
    color: white;
    
    .texto{
      width: 50vw;
      p{
        @include fade(left, 0.2s);
        height: max-content;
        width: 49rem;
        font-size: 2.3rem;
        text-align: justify;
        line-height: 1.5;
        margin: 12rem 10rem 14rem 10rem;
      }
      .botones{
        margin-left: 17.5%;
        @include fade(up, 1.3s);
        a{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 4.5rem;
          width: 17rem;
          border-radius: 5px;
          margin-left: 10%;
          margin-top: 6rem;
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 0.5px;
          color: white;
          text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000,
             0px  2px 2px #000;
        }
      }
    }
    .slides {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding-inline: 2rem;
      margin-top: 3%;
      position: relative;
      width: 40vw;
      @include fade(right, 0.7s);
      
      .slides-arrow {
        background: transparent;
        border: none;
        color: white;
        font-size: 10rem;
        cursor: pointer;
        padding: 18rem 4rem;
        margin-inline-start: 5%;
        margin-inline-end: 5%;
        transition: transform 0.2s;
        font-family: monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        
        &:hover { transform: scale(1.1); }
      }

      .slides-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 500px;
      }

      .slides-title {
        color: white;
        font-size: 2.4em;
        font-weight: 700;

        border: 2px solid #FFD700; 
        width: 500px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
      }

      .slides-text {
        color: white;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.4;
        padding-inline: 6%;
        margin-top: 2rem;
        min-height: 500px;
      }

      .slides-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 16rem;
        height: 5rem;
        font-size: 1.7rem;
        font-weight: 600;
        color: #FFD700;
        background-color: #000;
        border: 2px solid #5fb4ff; 
        border-radius: 5px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          cursor: pointer;
          background-color: #daff3627;
        }
      }
      
      .anim-text {
        display: inline-block;
        animation: slideInText 0.5s ease-out forwards;
      }
    }
  }
  .servicios {
    h1 {
      margin-bottom: 2rem;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 75%;
      margin: 0 auto;
      justify-content: center;
      gap: 2%;
      .card {
        @include fade(up, 0.6s);
        width: 13vw;
        height: 28vh;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
  
        &:hover {
          transform: translateY(-8px);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
        }
  
        .descripcion {
          position: absolute;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 2;
          text-align: center;
          padding: 1rem;
        }
  
        .title {
          position: absolute;
          bottom: 10px;
          left: 20px;
          width: 80%;
          height: 20%;
          border-radius: 10%;
  
          display: flex;
          align-items: center;
          justify-content: center;
  
          background: rgba(60, 60, 60, 0.384);
          --tw-backdrop-saturate: saturate(150%);
          -webkit-backdrop-filter: blur(10px);
          
          z-index: 2; 
  
          mask-image: radial-gradient(circle, black 100%);
          -webkit-mask-image: radial-gradient(circle, black 100%);
  
          color: white;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.5px;
          text-align: center;
        }
  
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 1;
        }

        &:hover {
          .descripcion {
            opacity: 1;
          }
          &::after {
            opacity: 1;
          }
        }
  
      }
      @include turn(8);
    }
  }
  .opiniones{
    height: 100vh;

    .carousel{
      display: flex;
      gap: 2rem;
      margin-top: 10rem;
      width: max-content;

      &.carouselLeft{ animation: scroll-infinite-left 40s linear infinite }
      &.carouselRight{ animation: scroll-infinite-right 40s linear infinite }

      &:hover{
        animation-play-state: paused;
      }

      .opinion-item{
        max-width: 350px;
        max-width: 350px;
        background: white;
        border-radius: 16px;
        padding: 2rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #333;
        flex-shrink: 0;
        position: relative;

        
        .opinion-text{
          font-size: 1.1rem;
          line-height: 1.6;
          flex-grow: 1;
        }

        .opinion-person{
          font-size: 1rem;
          font-weight: 600;
          color: #9b9b9b;
          margin-top: auto;
        }
        .opinion-rating{
          font-size: 1.5rem;
          display: flex;
          gap: 0.25rem;
          align-items: center;
          justify-content: center;
          margin-top: auto;
          margin-bottom: 0.5rem;

          .star-filled{
            color: #000;
            font-weight: 900;
          }

          .star-empty{
            color: #9b9b9b;
            font-weight: 900;
          }
        }
      }
    }
  }

  .cobertura{
    height: 100vh;
    width: 100vw;
    h1{
      margin-bottom: 5%;
    }
    div{
      display: flex;
      height: 50vh;
      justify-content: center;
      align-items: center;
      .map{
        width: 50%;
        @include fade(left, 0.3s);
      }
      .zonas{
        flex-wrap: wrap;
        min-width: 40%;
        max-height: 95%;
        .coverageitem{
          @include fade(up, 0.5s);
          color: black;
          width: 45%;
          height: 7vh;
          margin-left: 1%;
          background-color: #EEEEEE;
          p{
            text-align: center;
          }
        }
        @include turn(10);
        .coverageitem:hover{
          background-color: black;
          color: #FFD700;
          
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px){
  body{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    .header{
      font-size: 0.8rem;
      nav{
        gap: 0.7rem;
        a{
          letter-spacing: 0;
        }
      }
    }
    .emergency{
      bottom: 3vh;
        a{ padding: 0.4rem}
    }
    @media (max-width: 768px) {
      .nosotros {
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
        padding: 2rem 0;
        .slides {
          width: 100%;
          padding: 0;
          margin-top: 1rem;
          .slides-arrow {
            font-size: 2rem;
            padding: 5rem 0.7rem;
            margin: 0;
          }
          .slides-card {
            max-width: 100%;
            padding: 0 1rem;
            align-items: center;
          }
          .slides-title {
            width: 90%;
            height: auto;
            padding: 1rem;
            font-size: 1.5rem;
            text-align: center;
          }
          .slides-text {
            font-size: 1.1rem;
            min-height: auto;
            margin-top: 3rem;
            text-align: center;
            padding-bottom: 2rem;
          }
          .slides-button { 
            width: 55%;
            height: 3.5rem;
            margin-top: 10%;
            font-weight: 400;
          }
        }

        .texto {
          width: 100%;
          margin: 0;
          p { display: none }
          .botones {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 1rem;
            margin-top: 30%;
            margin-left: 0;
            a {
              margin: 0;
              width: 40%;
              height: 3rem;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .servicios {
      .cards {
        display: flex;
        flex-wrap: wrap;      
        justify-content: center;
        
        width: 90%;
        margin: 10% auto 0;
        gap: 1rem;
    
        .card {
          height: 18vh;
          width: 24vw;
          flex-shrink: 0;
          .descripcion{
            font-size: .7rem;
          }
          .title{
            font-size: .5rem;
            justify-content: center;
            ;
          }
        }
      }
    }
    .opiniones{
      .carousel{
        margin-top: 3rem;
        &.carouselLeft{ animation: scroll-infinite-left 60s linear infinite }
        &.carouselRight{ animation: scroll-infinite-right 60s linear infinite }
        .opinion-item{
          width: 200px;
          height: 150px;
          .opinion-text{
            font-size: 0.8rem;
          }
          .opinion-person{
            font-size: 0.7rem;
          }
          .opinion-rating{
            margin-bottom: -8%;
          }
        }
      }
    }
    .cobertura{
      h1{
        margin: 1rem 0;
      }
      div{
        flex-direction: column-reverse;
        height: auto;

        .map{
          width: 90%;
          height: 200px;
          margin-top: 1rem;
        }
        .zonas{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 0.5rem;
          width: 90%;
          justify-content: center;
          .coverageitem{
            width: 100%;
            height: 5vh;
            margin: 0;
          }
        }
      }
    }
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){

}

/* Notebook */
@media (min-width: 1024px) and (max-width: 1439px){

}