// VARIABLES (Breakpoints)
$mini: "max-width: 360px";
$mobile: "min-width: 361px) and (max-width: 767px";
$tablet: "min-width: 768px) and (max-width: 1024px";
$notebook: "min-width: 1025px) and (max-width: 1440px";
$medium: "min-width: 1441px) and (max-width: 1900px";
$desktop: "min-width: 1901px";

// MIXINS
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin titles {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1%;
  color: white;
  
  @media (#{$mini}) {
    font-size: 1.8rem;
    margin-top: 5%;
    padding-top: 2%;
  }

  @media (#{$mobile}), (#{$tablet}), (#{$notebook}) {
    margin-top: 2%;
  }
}

@mixin turn($end) {
  @for $i from 1 through $end {
    :nth-child(#{$i}) {
      animation-delay: $i * 0.2s;
    }
  }
}

@mixin fade($fade, $delay) {
  opacity: 0;
  animation: fade-#{$fade} 0.6s forwards;
  animation-delay: $delay;
}

// KEYFRAMES (Sin cambios)
@keyframes scroll-infinite-left { 0% { transform: translateX(0); } 100% { transform: translateX(-50%); } }
@keyframes scroll-infinite-right { 0% { transform: translateX(-50%); } 100% { transform: translateX(0); } }
@keyframes slideInText { 0% { opacity: 0; transform: translateX(20px); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-left { 0% { opacity: 0; transform: translateX(-10%); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-right { 0% { opacity: 0; transform: translateX(10%); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-up { 0% { opacity: 0; transform: translateY(40%); } 100% { opacity: 1; transform: translateY(0); } }
@keyframes fade-down { 0% { opacity: 0; transform: translateY(-40%); } 100% { opacity: 1; transform: translateY(0); } }

// RESET & BASE
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  a, button {
    text-decoration: none;
    color: inherit;
    user-select: none;
  }
  h1 { @include titles(); }
}

body {
  height: 100%;
  
  @media (#{$mini}) {
    min-height: 100dvh;
    -webkit-tap-highlight-color: transparent;
  }

  @media (#{$mobile}) {
    min-height: 100dvh;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }

  @media (#{$tablet}), (#{$notebook}) {
    -webkit-tap-highlight-color: transparent;
  }

  // --- HEADER ---
  .header {
    background-color: rgba(0, 0, 0, 0.374);
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    max-width: 95%;
    margin: 0.5% auto;
    padding: 0 2%;
    box-sizing: border-box;
    border-radius: 15px;

    @media (#{$mini}) { font-size: 0.7rem; width: 98%; padding: 0 1%; }
    @media (#{$mobile}) { font-size: 0.8rem; width: auto; }

    nav {
      @include flex-center;
      gap: 4rem;
      height: 7.5vh;

      @media (#{$mini}) { gap: 0.5rem; height: 8vh; }
      @media (#{$mobile}), (#{$tablet}) { gap: 1.7rem; }

      a {
        @include flex-center;
        font-weight: 300;
        letter-spacing: 0.5px;
        &:hover { transform: translateY(-1px); }
        
        @media (#{$mini}) { letter-spacing: 0; font-size: 0.8rem; }
        @media (#{$mobile}) { letter-spacing: 0; }
      }
    }
  }

  // --- EMERGENCY BUTTON ---
  .emergency {
    display: flex;
    position: fixed;
    right: 3vw;
    bottom: 7vh;
    a { padding: 1rem; }

    @media (#{$mobile}) { bottom: 3vh; a { padding: 0.4rem; } }
    @media (#{$mini}) { right: 2vw; a { padding: 0.5rem; img { width: 50px; height: 50px }}}
    @media (#{$notebook}), (#{$medium}), (#{$desktop}) { a { img { width: 70px; height: 70px} }}
  }

  // --- SECCION NOSOTROS ---
  .nosotros {
    display: flex;
    color: white;
    
    // Layout Changes
    @media (#{$mini}) { flex-direction: column-reverse; padding: 1rem 0; height: auto; width: 100%; }
    @media (#{$mobile}) { flex-direction: column-reverse; padding: 2rem 0; height: auto; width: 100%; }
    @media (#{$tablet}) { flex-direction: column; height: auto; width: 100%; }
    @media (#{$notebook}), (#{$medium}) { height: auto; width: 100%; padding: 2rem 0; }

    .texto {
      width: 50vw;
      @media (#{$mini}) { width: 100%; margin: 0; }
      @media (#{$mobile}) { width: 100%; margin: 0; }
      @media (#{$tablet}) { margin: 0; display: contents; }
      @media (#{$notebook}), (#{$medium}) { margin: 0; }

      p {
        @include fade(left, 0.2s);
        height: max-content;
        width: 49rem;
        font-size: 2.3rem;
        text-align: justify;
        line-height: 1.5;
        margin: 12rem 10rem 14rem 10rem;

        @media (#{$mini}) { display: none; }
        @media (#{$mobile}) { display: none; }
        @media (#{$tablet}) { 
          order: 1; margin: 5rem 2rem; font-size: 1.4rem; 
          justify-content: center; align-self: center; width: 40rem; 
        }
        @media (#{$notebook}) { width: 32rem; margin: 5rem 5rem; font-size: 1.5rem; }
        @media (#{$medium}) { width: fit-content; margin: 8rem 4rem; font-size: 1.8rem;}
      }

      .botones {
        margin-left: 17.5%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        @include fade(up, 1.3s);

        @media (#{$mini}) { margin: auto; width: 80%; }
        @media (#{$mobile}) { width: 100%; margin-top: 15%; margin-left: 0 }
        @media (#{$tablet}) { order: 3; width: 100%; margin-left: 0 }
        @media (#{$notebook}) { width: 100%; margin-top: 30%; margin-left: 5% }
        @media (#{$medium}) { width: 100%; margin-top: 20%; margin-left: 1% }

        a{
          @include flex-center;
          height: 4.5rem;
          width: 17rem;
          border-radius: 5px;
          margin-left: 10%;
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 0.5px;
          color: white;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0px 2px 2px #000;

          @media (#{$mini}) { margin: 0; width: 80%; height: 2.8rem; font-size: 1.2rem }
          @media (#{$mobile}) { margin: 0; width: 40%; height: 3rem; font-size: 1.5rem }
          @media (#{$tablet}) { margin: 0; width: 30%; height: 3rem; margin-top: 10%; font-size: 1.5rem }
          @media (#{$notebook}) { margin: 0; width: 40%; height: 3rem; font-size: 1.5rem }
          @media (#{$medium}) { margin: 0; width: 35%; height: 3rem; font-size: 1.5rem }
        }
      }
    }

    .slides {
      flex: 1;
      display: flex;
      gap: 2rem;
      margin-top: 3%;
      @include fade(right, 0.7s);

      @media (#{$mini}) { gap: 0.5rem; width: 100%; padding: 0; margin-top: 1rem; }
      @media (#{$mobile}) { gap: 1rem; width: 100%; padding: 0; margin-top: 1rem; }
      @media (#{$tablet}) { order: 2; gap: 1rem; width: 100%; padding: 0; margin-top: 0; }

      .slides-arrow {
        background: transparent;
        border: none;
        color: white;
        font-size: 6rem;
        cursor: pointer;
        padding: 16rem 5rem;
        transition: transform 0.2s;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        
        &:hover { transform: scale(1.1); }

        @media (#{$mini}) { font-size: 1.5rem; padding: 10rem 0.2rem; margin: 0 }
        @media (#{$mobile}) { font-size: 2rem; padding: 10rem 0.7rem; margin: 0 }
        @media (#{$tablet}) { font-size: 2rem; padding: 10rem 3rem; margin: 0 }
        @media (#{$notebook}) { font-size: 4rem; padding: 10rem 3.3rem }
        @media (#{$medium}) { font-size: 4rem; padding: 13rem 3.3rem }
      }

      .slides-card {
        display: flex;
        flex-direction: column;
        @include flex-center;
        
        @media (#{$mini}) { max-width: 100%; align-items: center; }
        @media (#{$mobile}), (#{$tablet}) { max-width: 100%; align-items: center; }
      }

      .slides-title {
        color: white;
        font-size: 2.4em;
        font-weight: 700;
        margin: auto;
        border: 2px solid #FFD700; 
        width: 500px;
        height: 180px;
        @include flex-center;
        background: transparent;

        @media (#{$mini}) { width: 90%; height: auto; padding: 0.5rem; font-size: 1rem; border-width: 1px; }
        @media (#{$mobile}), (#{$tablet}) { width: 80%; height: auto; padding: 1rem; font-size: 1.1rem; }
        @media (#{$notebook}) { width: 85%; height: auto; padding: 1rem; font-size: 1.3rem; }
        @media (#{$medium}) { width: 85%; height: auto; padding: 1.2rem; font-size: 1.5rem; }
      }

      .slides-text {
        color: white;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.4;
        width: 100%;
        margin-top: 2.5rem;
        height: 310px;

        @media (#{$mini}) { font-size: 1rem; height: 160px; margin-top: 0.5rem; text-align: center; padding-bottom: 1rem; }
        @media (#{$mobile}) { font-size: 1.05rem; height: 180px; margin-top: 1rem; text-align: center; padding-bottom: 2rem; }
        @media (#{$tablet}) { width: 80%; padding: 2rem 3rem; font-size: 1.4rem; height: 200px; text-align: justify; }
        @media (#{$notebook}) { height: 260px; font-size: 1.45rem; }
        @media (#{$medium}) { height: 270px; font-size: 1.6rem; }
      }

      .slides-button {
        @include flex-center;
        margin: 15% auto 0 auto;
        width: 16rem;
        height: 5rem;
        font-size: 1.7rem;
        font-weight: 600;
        color: #FFD700;
        background-color: #000;
        border: 2px solid #5fb4ff; 
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover { cursor: pointer; background-color: #daff3627; }

        @media (#{$mini}) { width: 70%; height: 3rem; margin-top: 5%; font-weight: 600; font-size: 1rem; }
        @media (#{$mobile}) { width: 55%; height: 3.5rem; margin-top: 10%; font-weight: 600; font-size: 1.1rem; }
        @media (#{$tablet}) { width: 35%; height: 3.5rem; margin-top: 2%; font-weight: 600; font-size: 1.1rem; }
        @media (#{$notebook}) { width: 55%; height: 3.5rem; margin-top: 10%; font-weight: 400; font-size: 1.4rem; }
        @media (#{$medium}) { width: 55%; height: 3.5rem; margin-top: 10%; font-weight: 400; font-size: 1.4rem; }
      }
      
      .anim-text {
        display: inline-block;
        animation: slideInText 0.5s ease-out forwards;
      }
    }
  }

  // --- SECCION SERVICIOS ---
  .servicios {
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;
      margin: auto;
      justify-items: center;
      align-items: center;
      gap: 1rem;
      
      // Flex en mobile/tablet
      @media (#{$mini}), (#{$mobile}) { margin: 5% auto 0 }
      @media (#{$tablet}) { margin: 10% auto 0 }
      @media (#{$notebook}) { margin: 2% auto 0 }
      @media (#{$medium}), (#{$desktop}) { width: 60% }

      .card {
        @include fade(up, 0.6s);
        width: 13vw;
        height: 28vh;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        margin-top: 5%;

        @media (#{$mini}) { width: 25vw; height: 16vh; margin-top: 2%; }
        @media (#{$mobile}), (#{$tablet}) { height: 18vh; width: 25vw; flex-shrink: 0; margin-top: 1%; }
        @media (#{$notebook}) { height: 28vh; width: 18vw; flex-shrink: 0; margin-top: 1%; }
        @media (#{$medium}) { height: 28vh; width: 14vw; flex-shrink: 0; margin-top: 3%; }
  
        .descripcion {
          position: absolute;
          inset: 0;
          @include flex-center;
          color: white;
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 2;
          text-align: center;
          padding: 1rem;

          @media (#{$mini}) { font-size: 0.6rem; padding: 0.5rem; }
          @media (#{$mobile}), (#{$tablet}), (#{$notebook}) { font-size: .7rem; }
        }
  
        .title {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
          width: 80%;
          height: 20%;
          border-radius: 10%;
          @include flex-center;
          background: rgba(60, 60, 60, 0.384);
          backdrop-filter: blur(10px);
          z-index: 2; 
          mask-image: radial-gradient(circle, black 100%);
          color: white;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.5px;
          text-align: center;

          @media (#{$mini}) { font-size: 0.6rem; height: 30%; width: 90%; }
          @media (#{$mobile}), (#{$tablet}), (#{$notebook}) { font-size: .65rem; height: 25%; justify-content: center; }
        }
  
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 1;
        }

        &:hover {
          transform: translateY(-8px);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
          .descripcion, &::after { opacity: 1; }
          
          @media (#{$mini}) {
             .title { opacity: 0; }
          }
          @media (#{$mobile}) {
             .title { opacity: 0; }
          }
        }
      }
      @include turn(8);
    }
  }

  // --- SECCION OPINIONES ---
  .opiniones {
    height: 100vh;

    .carousel {
      display: flex;
      gap: 2rem;
      margin-top: 5rem;
      width: max-content;

      @media (#{$mini}) { margin-top: 2rem; gap: 1rem; }
      @media (#{$mobile}) { margin-top: 2.8rem; }
      @media (#{$tablet}) { margin-top: 6rem; }
      @media (#{$notebook}), (#{$medium}) { margin-top: 2.8rem; }

      &.carouselLeft { animation: scroll-infinite-left 40s linear infinite; }
      &.carouselRight { animation: scroll-infinite-right 40s linear infinite; }

      @media (#{$mobile}) {
        &.carouselLeft { animation-duration: 60s; }
        &.carouselRight { animation-duration: 60s; }
      }

      &:hover { animation-play-state: paused; }

      .opinion-item {
        max-width: 350px;
        background: white;
        border-radius: 16px;
        padding: 2rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #333;
        flex-shrink: 0;
        position: relative;

        @media (#{$mini}) { width: 180px; height: 130px; padding: 1rem; }
        @media (#{$mobile}) { width: 200px; height: 150px; }
        @media (#{$tablet}) { width: 280px; height: 180px; }
        @media (#{$notebook}), (#{$medium})  { width: 300px; height: 150px; }

        .opinion-text {
          font-size: 1.1rem;
          line-height: 1.6;
          flex-grow: 1;

          @media (#{$mini}) { font-size: 0.6rem }
          @media (#{$mobile}) { font-size: 0.8rem }
          @media (#{$tablet}) { font-size: 1rem }
          @media (#{$notebook}), (#{$medium}) { font-size: 0.9rem }
        }

        .opinion-person {
          font-size: 1rem;
          font-weight: 600;
          color: #9b9b9b;
          margin-top: auto;
          
          @media (#{$mini}) { font-size: 0.6rem; }
          @media (#{$mobile}), (#{$tablet}), (#{$notebook}), (#{$medium}) { font-size: 0.8rem; }
        }

        .opinion-rating {
          font-size: 1.5rem;
          display: flex;
          gap: 0.25rem;
          @include flex-center;
          margin-top: auto;
          margin-bottom: 0.5rem;

          @media (#{$mini}) { font-size: 1rem; margin-bottom: 0; }
          @media (#{$mobile}), (#{$tablet}), (#{$notebook}) { margin-bottom: -8%; }

          .star-filled { color: #000; font-weight: 900; }
          .star-empty { color: #9b9b9b; font-weight: 900; }
        }
      }
    }
  }

  // --- SECCION COBERTURA ---
  .cobertura {
    height: 100vh;
    width: 100vw;
    
    h1 { margin-bottom: 5%; }

    // Usamos una clase específica en lugar de "div" genérico para evitar conflictos
    .main {
      display: flex;
      height: 50vh;
      @include flex-center;
      
      // Media queries del contenedor principal
      @media (#{$mini}) { flex-direction: column-reverse; height: auto; }
      @media (#{$mobile}), (#{$tablet}) { flex-direction: column-reverse; height: auto; }
      @media (#{$notebook}) { margin-top: 1%; height: auto;}

      .map {
        width: 50%;
        @include fade(left, 0.3s);
        @media (#{$mini}) { width: 95%; height: 180px; margin-top: 1rem; }
        @media (#{$mobile}) { width: 90%; height: 200px; margin-top: 1rem; }
        @media (#{$tablet}) { width: 90%; height: 350px; margin-top: 1rem; }
        @media (#{$notebook}) { width: 90%; height: 380px;}
        
        img { width: 100%; height: 100%; object-fit: cover; }
      }

      // --- NUEVO WRAPPER (Lista + Botón) ---
      .leftContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        gap: 1.5rem;

        @media (#{$mini}) { width: 100%; gap: 1rem; margin-bottom: 1rem;}
        @media (#{$mobile}), (#{$tablet}) { width: 100%; gap: 1rem; margin-bottom: 1rem;}
        @media (#{$notebook}) { width: 70%; }

        .zonas {
          display: flex; 
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          
          @media (#{$mini}) { display: grid; grid-template-columns: repeat(2, 1fr); gap: 0.5rem; width: 95%; }
          @media (#{$mobile}), (#{$tablet}), (#{$notebook}) { display: grid; grid-template-columns: repeat(2, 1fr); gap: 0.5rem; width: 90%; }
          
          .coverageitem {
            @include fade(up, 0.5s);
            color: black;
            width: 45%;
            height: 7vh;
            margin: 0.5%; 
            cursor: pointer;
            background-color: #EEEEEE;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (#{$mini}) { width: 100%; height: 5vh; margin: 0; font-size: 0.8rem; }
            @media (#{$mobile}) { width: 100%; height: 5vh; margin: 0; font-size: 0.8rem}
            @media (#{$tablet}) { width: 100%; height: 6vh; margin: 0; }
            @media (#{$notebook}) { width: 100%; height: 8vh; margin: 0; }
          }
          @include turn(10);
        }

        .botonMensaje {
          @include fade(up, 0.8s);
          background-color: #25D366;
          color: white;
          border: none;
          padding: 1.08rem 10rem;
          border-radius: 50px;
          font-size: 1.2rem;
          font-weight: bold;
          cursor: pointer;
          text-shadow: 
            -1px -1px 0 #000,
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000
          ;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          transition: transform 0.2s, background-color 0.2s;
          
          &:hover {
            background-color: #1ebc57;
            transform: scale(1.05);
          }
          
          @media (#{$mini}),(#{$mobile}), (#{$tablet}) { display: none }
        }
      }
    }
  }

}
body:has(.cobertura) {
  .emergency {
    @media (#{$notebook}), (#{$medium}), (#{$desktop}) {
      display: none;
    }
  }
}